<div class="container">
    <h1 class="h1q">Pick the day you are available on {{name}}</h1>
    <form action="/submit" method="post">
    
    <div class="span" style="text-align:center;"> <br>
        <span class="errremove">{{error}}</span><span class="red" style="color: red;">{{alertErrorr}}</span> <br>
    </div>
    <div class="boxlayout">
      {{#each week}}
        {{#if this.condition}}
            <div>
                <input type="checkbox" name="day" value="{{this.day}}" id="{{this.day}}" {{this.checked}}>
                <label for="{{this.day}}"> {{this.day}}</label>
            </div> 
        {{else}}
              <div>
                <input type="checkbox" name="day" value="{{this}}" id="{{this}}" >
                <label for="{{this}}">{{this}} </label>
            </div> 
        {{/if}}
        {{/each}}
    </div>
    <div class="subb">
        <button type="submit" class="sub">Submit</button> 
        <button type="submit"  class="sub"> <a style="color: black;" href="/">Home</a></button>
        <button type="submit"  class="sub"> <a style="color: black;" href="/logout">Log Out</a></button>
    </div>
    </form>
</div>
<script>
    var span = document.querySelector(".red").textContent;
    if(span == "Please select two or more working days"){
        var change = document.querySelector(".errremove");
        change.innerHTML = " ";
    }
    setTimeout(()=>{
        var span = document.querySelector(".red");
        var change = document.querySelector(".errremove");
        change.innerHTML = " ";
        span.innerHTML = " "
    }, 5000)
</script>