<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="h1q" style="font-size:30px;margin-top: 2%;">Dashboard</div>
<br>
<span style="color: green; margin-left: 10%;">{{err}}</span>
<br> <br> 
<div class="wrap">
    <div class="firstlayout">
        <div class="centerr">
            <form class="form" style="display: flex; flex-wrap: wrap; gap: 5%;">
                {{#each week}}
                <div class="{{this.class}} boxed">
                    <h2 id="{{this.number}}">{{this.day}}</h2>
                    <input type="hidden" name="data" value="{{this.number}},{{this.day}}">
                </div>
                {{/each}}
            </form>
        </div> <br> <br>
        <div class="die" style="text-align: center;">
            <h2 class="h23" style="display: none;">Names of Waiters available</h2>
            <ul class="ul"></ul>
        </div>
    </div>
    <div class="secondlayout">
        <div class="fixed">
            <canvas id="myCanvas"></canvas>
        </div>
    </div>
</div>
<form id="dynamic">
    <input type="hidden" name="hide" value="{{dynamic}}">
</form>
</div> <br> <br>



<div class="cover">
    <div class="h1q" style="font-size:30px;margin-top: 2%;">Table for Waiter's</div> <br>
<div class="container">
    <table>
        <tr class="tr">
            <th class="th">Waiter Name</th>
            <th class="th">Waiter Days</th>
            <th class="th">Change or update days</th>
        </tr>
        {{#each obj.waiters}}
        <tr style="font-weight: lighter;">
            <th>{{this.waiter_name}}</th>
            <th class="{{this.id}} {{this.waiter_name}}">{{this.days}}</th>
            <th> <button class="edit" id="{{this.id}} {{this.waiter_name}}">Edit details</button> </th>
        </tr>
        {{/each}}

    </table>
</div>
<div class="form">
    <h2 class="h2dynamic"></h2>
    <form method="post" class="formdynamic" style="display: none;">
        {{#each obj.weeky}}
        <div>
            <input type="checkbox" name="day" class="input" value="{{this.the_day}}" id="{{this.id}} {{this.the_day}}">
            <label for="{{this.id}}">{{this.the_day}}</label>
        </div>
        {{/each}}
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>

<script>
    var btn = document.getElementsByClassName("edit");
    console.log(btn)
    for (let i = 0; i < btn.length; i++) {
        var actualBtn = btn[i];
        var h2 = document.querySelector(".h2dynamic");
        actualBtn.addEventListener("click", (event) => {
            var id = event.srcElement.id;
            if (id) {
                var arg = id.split(" ");
                h2.innerHTML = "Edit week for " + arg[1];
                var form = document.querySelector(".formdynamic");
                form.action = "/waiter/" + arg[1];
                form.style.display = "flex";
                clearChecked();
                makeChanges(arg);
            }
        })
    }
</script>
<style>
    .container {
        width: 100%;
    }

    table {
        width: 100%;
        height: auto;
        font-weight: bolder;
    }

    tr {
        width: 100%;
        height: auto;

    }
    .th{
        border: 3px solid #7f39fb;
    }
    .tr {
        width: 100%;
        
    }

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }
    .cover{
        width: 80%;
        margin: auto;
    }
</style>
</div>
<br> <br> <br>
<div class="buttons">

    <div class="leftbtn">
        <a href="/"><button>HOME</button></a>
    </div>
    <div class="rightbtn">
        <a href="/reset"><button>RESET</button></a>
    </div>
</div> <br> <br> <br> <br>
<script src="/js/getData.js" defer></script>
<link rel="stylesheet" href="/css/mananger.css">
<script>
    var span = document.querySelector("span");
    setTimeout(()=>{
        span.innerHTML = " "
    }, 5000);

</script>
<script src="/js/managerdata.js"></script>